<footer id="footer">
	<h1 class="footer-blog-title">
		<a href="<%- config.root %>"><%= config.title %></a>
	</h1>
	<span class="copyright">
		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
		The official website of Jeff Ferrari
	</span>
</footer>
